.settings-container {
    width: calc(100% - 40px);
    max-width: 100%;
    margin: 20px;
    align-items: flex-start;
}

.card-container-header {
    flex-direction: row;
    display: flex;
    width: 100%;
}

.card-container-header h3 {
    margin-top: 0;
    text-align: center;
}


.parameters-section {
    width: 95%;
    margin: 0 auto;
    border: 1px solid #288cbb;
    border-radius: 10px;
}

.input-protein-section {
    width: 95%;
    padding: 20px;
    border: 1px solid #288cbb;
    border-radius: 0 0 8px 8px;
}

.settings-container>h3,
.start-section>h3 {
    color: #288cbb;
    margin: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #cddfeb;
}

.start-section {
    align-items: flex-start;
}

/* form element style */
.form-element{
    flex-direction: row;
    margin: 10px auto;
    align-items: flex-start;
}

.form-element > :first-child {
    max-width: 30%;
    flex-direction: row;
    align-items: center;
}

.form-element > :last-child {
    margin: auto 10px;
    width: 100%
}

.form-element > :last-child button {
    width: fit-content;
}

input[type="radio"] {
    width: 25px;
    height: 18px;
    margin: 0 10px;
} 

.radio-label {
    flex-direction: row;
    align-items: center;
}

.label-tooltip-wrapper {
    flex-direction: row;
    align-items: center;
    margin: 10px;
    margin-right: 0;
}

.label-tooltip-wrapper label {
    width: fit-content;
    margin: 0;
    margin-right: 10px;
}

.label-tooltip-wrapper .tooltip-container {
    width: auto;
}

.label-tooltip-wrapper .tooltip-container .help-span{
    color: #288cbb ;
    font-size: smaller;
    font-weight: normal;
    position: absolute;
    background-color: #cddfeb;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    margin-left: 30px;
} 

.label-tooltip-wrapper .tooltip-container:hover .help-span {
    display: block;
}

.expanded-label {
    flex-direction: row;
    align-items: center;
    margin: 10px;
}
.expanded-label label {
    width: fit-content;
    margin: 0;
}
.expanded-label .expand-icon {
    margin-left: 10px;
    cursor: pointer;
}

.settings-sequencing-runs,
.exclude-species {
    display: flex;
    flex-direction: row;
}

.form-warning {
    color: #b33a3a;
    font-size: smaller;
    margin: 10px;
}

input[type="file"] {
    margin-bottom: 5px;
}

select {
    border: 2px solid #288cbb;
    width: 50%;
    padding: 0.3% 0.5%;
}

select:disabled{
    border-color: #968c8c93;
}

.delete-btn {
    background-color: #ff6666;
    color: #cddfeb;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    margin-right: 5px;
} 
.delete-btn:not(:disabled):hover {
    background-color: #c82333;
}
 .delete-btn:active {
    background-color: #bd2130;
}

.remove-run-btn {
    position: absolute;
    top: 8px;
    right: 8px;
}

.run-annotation-btn {
    width: 90%;
    margin: 20px auto;
}






