
.settings .titleBox {
    color: #cacaca;
    /* background-color: #206d91; */
    background: linear-gradient(to bottom, #cddfeb 0%, #206d91 10%, #206d91 90%, #cddfeb 100%);
    align-items: center;
}
.settings .titleBox h2{
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 1.5rem;
}
.settings .titleBox h3{
    margin-top: 2px;
    margin-bottom: 15px;
    font-size: 1rem;
    font-style: italic;
}

.settingsForm {
    margin: 0 10%;
}

.settingsForm fieldset {
    margin: 15px auto;
    border: 0.5px solid #288cbb;
    border-radius: 10px;   
}

.settingsForm .submitButton {
    display: flex;
    margin: 10px auto;
    width: 100%;
    justify-content: center;
}

.formElement {
    flex-direction: row;
    margin-top: 9px;
    margin-bottom: 5px;
    min-height: 30px;
} 

.sectionUnable {
    background-color: red;
}

.formElement .radioLabel {
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 35%;
    align-items: center;
} 

.formElement textarea {
    border: 2px solid #288cbb;
    width: 30%;
    padding: 0.3% 0.5%;
    resize: vertical;
}

.radioLabel .tooltipContainer {
    position: relative;
    display: inline-block;
  }

.tooltipContainer .helpSpan{
    color: #288cbb ;
    font-size: smaller;
    font-weight: normal;
    position: absolute;
    z-index: 1;
    background-color: #fff; /* Ajoutez la couleur de fond que vous souhaitez */
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 50vmax;
} 

.tooltipContainer:hover .helpSpan {
    display: block;
}


.formElement .radioAndTextInput {
    flex-direction: row;
}

.formElement .radioLabel input[type="radio"] {
    width: 25px;
    height: 18px;
} 


.formElement select {
    border: 2px solid #288cbb;
    width: 30%;
    padding: 0.3% 0.5%;
}

.formElement .excludedSpecies {
    width: 48.5%;
    flex-direction: column;
}

.formElement .excludedSpecies .speciesInputBtn{
    display: flex;
    flex-direction: row;
}

.formElement .excludedSpecies .speciesInputBtn input[type="text"]{
    width: 60%;
}

.formElement .excludedSpecies .speciesInputBtn button{
    width: 18%;
    font-weight: normal;
    border: 2px solid #288cbb;
}

.formElement .excludedSpecies ul  {
    padding-left: 5px;
    border: 1px solid #288cbb;
    border-radius: 5px;
  }
  
.formElement .excludedSpecies ul li {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}
  
.formElement .excludedSpecies ul li button {
    background-color: #ff6666; /* Couleur du bouton "X" */
    color: #fff;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}
 
.formElement .excludedSpecies ul li button:hover {
    background-color: #ff4d4d; /* Couleur au survol du bouton "X" */
}
 

.formSection .sectionTitle {
    font-style: italic;
    flex-direction: row;
    margin-top: 9px;
    margin-bottom: 5px;
    min-height: 30px;
}

.formSection .formElement {
    margin-left: 5%;
}
