.cardContainer {
    flex-direction: row;
    margin-top: 10px;
}

.cardContainer .card {
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid #288cbb;
    border-radius: 20px;
    width: 30%;
    color: #94c5db;
    background: url("../assets/card-bg.PNG") center/cover;
}

.cardContainer .card .card-text {
    align-items: center;
}

.cardContainer .card .card-text h2 {
    width: 80%;
    text-align: center;
    border-bottom: 2px solid #288cbb;
}

.cardContainer .card .card-text p {
    text-align: justify;
    width: 95%;
    font-size: 1rem;
}

@media screen and (max-width: 1000px) {
    .cardContainer .card .card-text p {
        font-size: 0.8rem;
    }
}
.cardContainer .card .button-div {
    margin: 10px;
}

.cardContainer .card .button-div button {
    margin: 1% 10px;

}
