
@keyframes zoomIn {
	0% {
		transform: scale(10);
	}
	100% {
		transform: scale(1);
	}
}

.run-card {
	padding: 10px;
	margin: 5px auto;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	width: 95%;
	/* animation: zoomIn 0.3s ease; */
}

.run-card.running,
.run-card.upload {
	border: 2px solid #a5a202;
	background-color: #ffd700;
}

.run-card.running:hover,
.run-card.upload:hover {
	background-color: #ceb009;
	cursor: pointer;
}
	
.run-card.completed {
	border: 2px solid #007e11;
	background-color: #72e272;
}

.run-card.completed:hover {
	background-color: #4eb14e;
	cursor: pointer;
}

.run-card.failed {
	border: 2px solid #a80000;
	background-color: #e65b5b;
}

.run-card.failed:hover {
	background-color: #b84a4a;
	cursor: pointer;
}

span {
	margin: 2px 0;
}
