@font-face {
    font-family: "Oswald";
    src: url(../assets/fonts/Oswald-VariableFont_wght.ttf);
}

.header {
    background-color: #cddfeb;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 20px auto;
    border: 5px solid #288cbb;
    border-radius: 20px;
}

.header .title {
    margin: 8px 8px;
}

.header .title > h4 {
    font-weight: lighter;
    margin: 0px;
}
.header span {
    color: #288cbb;
    font-weight: bold;
}

.header .title > h1 {   
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    margin: 0px;
    font-size: 2.3rem;
    color: #288cbb;
}

.header img {
    width: 30%;
    margin-right: 10px;
}

@media screen and (max-width: 1000px) {
    .header {
        width: 60%;
    }
    .header img {
        width: 40%;
    }
}

@media screen and (max-width: 680px) {
    .header img {
        width: 40%;
    }
    .header .title > h1 {   
        font-size: 1.5rem;
    }
    .header .title > h4 {
        font-size: 0.8rem;
    }
}

