@font-face {
    font-family: "Oswald";
    src: url(../assets/fonts/Oswald-VariableFont_wght.ttf);
}

.header {
    height: 20vh;
    align-items: center;
    display: inline-flex; 
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.header .title {
    margin: 8px 8px;
    width: auto;
}

.header .title > h4 {
    font-weight: lighter;
    margin: 0px;
}
.header span {
    color: #288cbb;
    font-weight: bold;
}

.header .title > h1 {   
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    margin: 0px;
    font-size: 4rem;
    color: #30b1ed;
}

.header img {
    height: 80%;
}

@media screen and (max-width: 1000px) {
    .header {
        width: 60%;
    }
    .header img {
        width: 40%;
    }
}

@media screen and (max-width: 680px) {
    .header img {
        width: 40%;
    }
    .header .title > h1 {   
        font-size: 1.5rem;
    }
    .header .title > h4 {
        font-size: 0.8rem;
    }
}

