label {
    display: flex;
    width: 95%;
    margin: 0 0 5px 2%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input-button {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

@media screen and (max-width: 1060px) {
    .input-button {
        flex-direction: column;
        align-items: flex-end
    }
    input, button {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    form button {
        margin-right: 20px;
    }
    .t1 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 630px) {
    .t1 {
        font-size: 0.6rem;
    }
    .t2 {
        font-size: 1rem;
    }
}


input {
    width: 95%;
    margin-right: 15px;
    border: 2px solid #288cbb;
    padding-left: 8px;
}

.input-button button {
  width: 10%;
}

input.success {
    border-color: green;
}

input.error {
    border-color: red;
}
  
.error-message {
    color: red;
    display: flex;
    width: 95%;
    margin: 5px 0 0 5px;
}

.success-message {
    color: green;
    display: flex;
    width: 95%;
    margin: 5px 0 0 5px;
}
  
