@font-face {
    font-family: "Oxygen";
    src: url(./assets/fonts/Oxygen-Light.ttf);
}

.t1_bold {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.t1_light {
    font-family: 'Oxygen', sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

.t2 {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

@media screen and (max-width: 680px) {
    .t1_bold, .t1_light {
        font-size: 0.6rem;
    }
    .t2 {
        font-size: 1rem;
    }
}

div {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #cddfeb;
}

button {
    border: 5px solid #288cbb;
    border-radius: 20px;
    background-color: #cddfeb;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
button:not(:disabled):hover, input[type="file"]::file-selector-button:hover{
    background-color: #B0D2EA;
}

button:disabled {
    cursor: auto;
    background-color: rgba(255, 255, 255, 0.575);
}

input.success {
    border-color: green;
}

input.error {
    border-color: red;
}
  
input[type="file"]::file-selector-button {
    border: 2px solid #288cbb;
    border-radius: 5px;
    background-color: #cddfeb;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.error-message {
    color: red;
    margin-top: 2px;
    margin-bottom: 2px;
}

.success-message {
    color: green;
}



.cardContainer {
    display: flex;
    justify-content: space-around;
    min-height: 50vh;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    height: auto;

}

.helpIcon {
    margin-left: 5px;
    width: 17px;
  }
  
